# Rename wifi nics based on mac address for persistant names
SUBSYSTEM=="net", ATTR{address}=="78:22:88:5d:d1:54", NAME="rtl8812eu_omni"
SUBSYSTEM=="net", ATTR{address}=="78:22:88:5d:d3:74", NAME="rtl8812eu_patch"
