[submodule "jetson/mavfwd"]
	path = jetson/mavfwd
	url = https://github.com/OpenIPC/mavfwd.git
[submodule "jetson/rtl88x2eu"]
	path = rtl88x2eu
	url = https://github.com/RoblabWh/rtl88x2eu.git
[submodule "wfb-ng"]
	path = wfb-ng
	url = https://github.com/RoblabWh/wfb-ng.git
[submodule "jetson/hugin_ros2"]
	path = jetson/ros/hugin_ros2
	url = https://github.com/RoblabWh/hugin_ros2.git
[submodule "jetson/ros/depthai-core"]
	path = jetson/ros/depthai-core
	url = https://github.com/luxonis/depthai-core.git
[submodule "jetson/ros/librealsense"]
	path = jetson/ros/librealsense
	url = https://github.com/realsenseai/librealsense.git
[submodule "jetson/ros/opencv"]
	path = jetson/ros/opencv
	url = https://github.com/opencv/opencv.git
[submodule "jetson/ros/opencv_contrib"]
	path = jetson/ros/opencv_contrib
	url = https://github.com/opencv/opencv_contrib.git
