[submodule "ardupilot"]
	path = ardupilot
	url = https://github.com/ArduPilot/ardupilot.git
[submodule "jetson/mavfwd"]
	path = jetson/mavfwd
	url = https://github.com/OpenIPC/mavfwd.git
[submodule "jetson/rtl88x2eu"]
	path = rtl88x2eu
	url = https://github.com/RoblabWh/rtl88x2eu.git
[submodule "wfb-ng"]
	path = wfb-ng
	url = https://github.com/svpcom/wfb-ng.git
