[submodule "ardupilot"]
	path = ardupilot
	url = https://github.com/ArduPilot/ardupilot.git
[submodule "jetson/mavfwd"]
	path = jetson/mavfwd
	url = https://github.com/OpenIPC/mavfwd.git
[submodule "steamdeck/rtl8812eu"]
	path = steamdeck/rtl8812eu
	url = https://github.com/svpcom/rtl8812eu
[submodule "jetson/rtl88x2eu"]
	path = jetson/rtl88x2eu
	url = https://github.com/RoblabWh/rtl88x2eu.git
